
.l-row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-pad {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  position: relative;
}

.cardcol {
  display: block;
  overflow: hidden;
  cursor: pointer;
  padding: 20px;
  border: 1px solid #d7d7d7;
}

.cardcol .cardcol-img {
  float: left;
  margin-right: 15px;
}

.cardcol .cardcol-box {
  overflow: hidden;
}

.cardcol .cardcol-box  .cardcol-box-cate {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

.cardcol .cardcol-box  .cardcol-box-title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.cardcol .cardcol-box  .cardcol-box-text {
  font-size: 14px;
}

.cardcol .cardcol-box  .cardcol-box-more {
  position: absolute;
  bottom: 20px;
  right: 25px;
}

.cardcol:hover .cardcol-box .cardcol-box-more .btn,
.card.card-flo:hover .btn {
  background-color: #0671b7;
  color: #FFF;
  border-color: #0671B7;
}

.card.card-flo {
  overflow: hidden;
  border: 1px solid #d7d7d7;
  display: block;
  cursor: pointer;
  position: relative;
}

.card.card-flo .cardcol-box-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card.card-flo .card-imagearea {
  float: left;
  width: 48%;
}

.card.card-flo .card-imagearea img {
  width: 100%;
}

.card.card-flo .card-text {
  overflow: hidden;
  border: none;
  padding-top: 20px;
}


/* =======================================

======================================== */
.local-nav {
  overflow: hidden;
  margin-right: -4px;
  margin-left: -4px;
  margin-bottom: 50px;
}

.local-nav li {
  float: left;
  margin: 0 4px;
  text-align: center;
  margin-bottom: 5px;
  min-width: 132px;
  box-shadow: 1px 1px 0 #d7d7d7 inset,
              -1px -1px 0 #d7d7d7 inset;
}

.local-nav li a {
  padding: 10px 0;
  cursor: pointer;
  display: block;
}

.local-nav li a:hover {
  box-shadow: 3px 3px 0 #0671b7 inset,
              -3px -3px 0 #0671b7 inset;
}

.local-nav li:last-child {
  margin-right: 0;
}

/* =======================================

======================================== */
.ball {
 display: flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
  line-height: 82px;
  width: 85px;
  height: 85px;
  background-color: #0671b7;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  vertical-align: middle;
}

.ball.ball-gy {
  background-color: #9a9b9c;
}

.ball.ball-sale {
  text-align: center;
  background-color: #fe2929;
}

.ball.ball-sale span {
  font-size: 24px;
  color: #FFF;
  line-height: 1.5;
  display: block;
  width: 600px;
  margin-top: -10px;
}

.ball.ball-sale span:after {
  content: "할인";
  position: absolute;
  bottom: 13px;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: 14px;
}

.ball.ball-sm {
  width: 64px;
  height: 64px;
  line-height: 1.5;
}

.ballbox {
  overflow: hidden;
}

.ballbox .ballbox-left {
  float: left;
  margin-right: 15px;
}

.ballbox .ballbox-text {
  overflow: hidden;
}

.ballbox .ballbox-text dt {
  font-size: 18px;
  margin-bottom: 10px;
}

.ballbox .ballbox-text dd {
  font-size: 14px;
  font-weight: normal;
}

/* =======================================

======================================== */
.card {
  cursor: pointer;
}

.card .card-imagearea {
  position: relative;
}

.card .card-imagearea .card-imagearea-ball {
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.card .card-imagearea .card-imagearea-img {
  width: 100%;
}

.card .card-text {
  padding: 15px;
  border: 1px solid #d7d7d7;
  border-top: none;
}

.card .card-text .card-text-cate {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

.card .card-text .card-text-title {
  font-size: 18px;
  line-height: 1.3;
}

.card .card-text .card-text-sub {
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: 200;
}

/* =======================================

======================================== */
.sitenav-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.sitenav-wrapper .sitenav-container {
  border: 1px solid #d7d7d7;
  margin: 50px 100px 0;
}

.sitenav-container .swiper-slide {
  /*margin-right: 0 !important;*/
}

.sitenav-container .swiper-slide .sitenav {
  text-align: center;
  display: block;
  border-left: 1px solid #d7d7d7;
  padding: 18px 0 30px 0;
}

.sitenav-container .swiper-slide .sitenav:hover {
  box-shadow: 4px 4px 0 #0671b7 inset,
              -4px -4px 0 #0671b7 inset;
}

.sitenav-container .swiper-slide:first-child .sitenav {
  border-left: none;
}

.sitenav span {
  margin-top: 6px;
  text-align: center;
  display: block;
}

.sitenav-wrapper .button-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}

.sitenav-wrapper .button-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}

.sitenav-wrapper .button-prev,
.sitenav-wrapper .button-next {
  background-color: #FFF;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 75px;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: none;
}

.sitenav-wrapper .button-prev i,
.sitenav-wrapper .button-next i {
  font-size: 40px;
}

/* =======================================

======================================== */
.main-vis-wrap {
  border-bottom: 1px solid #ddd;

}
.main-vis {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-vis img {
  width: 100%;
  vertical-align: bottom;
}

.visual-nav {
  position: absolute;
  overflow: hidden;
  bottom: 30px;
  left: 70px;
}

.visual-nav li {
  float: left;
  margin-right: 20px;
}

.visual-nav li:last-child {
  margin-right: 0;
}

.visual-nav li a {
  color: #0671b7;
  display: block;
  border: 6px solid #0671b7;
  width: 90px;
  height: 90px;
  text-align: center;
  background-color: #FFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;

 display: flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
}

.visual-nav li a span {
  font-size: 15px;
  line-height: 1.3;
}

/* =======================================

======================================== */
.funcui,
.navlist {
  float: right;
  margin-top: 10px;
}

.funcui li {
  width: 26px;
  height: 26px;
  margin-left: 2px;
  display: inline-block;
  border: 1px solid #d7d7d7;
  cursor: pointer;
}

.funcui li:hover {
  background-color: #0671b7;
  border-color: #0671B7;
}

.funcui li:hover i {
  color: #fff;
}

.navlist li {
  display: inline-block;
  margin-left: 15px;
}

.navlist li:before {
  content: "|";
  padding-right: 15px;
}

.navlist li:first-child:before {
  content: "";
}


/* =======================================

======================================== */
.cartype-nav-wrap {
  margin-bottom: 60px;
}

.cartype-nav {
  border: 1px solid #d7d7d7;
}

.cartype-nav > li {
  width: 10%;
}

.cartype-nav > li a {
  border-right: 1px solid #d7d7d7;
  text-align: center;
  padding: 20px 0;
}

.cartype-nav > li a span {
  display: block;
  position: relative;
  width: 72px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0 auto 10px auto;
}

.nav-pills>li>a {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.nav-pills>li+li {
  margin-left: 0;
}

.cartype-nav > li a span.cartype-nav-1 {
  background-image: url(../rentacar/images/car-1.png);
}

.cartype-nav > li a span.cartype-nav-2 {
  background-image: url(../rentacar/images/car-2.png);
}
.cartype-nav > li a span.cartype-nav-3 {
  background-image: url(../rentacar/images/car-3.png);
}
.cartype-nav > li a span.cartype-nav-4 {
  background-image: url(../rentacar/images/car-4.png);
}
.cartype-nav > li a span.cartype-nav-5 {
  background-image: url(../rentacar/images/car-5.png);
}
.cartype-nav > li a span.cartype-nav-6 {
  background-image: url(../rentacar/images/car-6.png);
}
.cartype-nav > li a span.cartype-nav-7 {
  background-image: url(../rentacar/images/car-7.png);
}

.cartype-nav > li.active a:before {
  content: "";
  width: 0;
height: 0;
border-style: solid;
border-width: 12px 10px 0 10px;
border-color: #337AB7 transparent transparent transparent;
  position: absolute;
  bottom: -9px;
  right: 0;
  left: 0;
  margin: auto;
}


.cartype-nav > li a:hover span.cartype-nav-1,
.cartype-nav > li.active a span.cartype-nav-1 {
  background-image: url(../rentacar/images/car-1-on.png);
}

.cartype-nav > li a:hover span.cartype-nav-2,
.cartype-nav > li.active a span.cartype-nav-2 {
  background-image: url(../rentacar/images/car-2-on.png);
}
.cartype-nav > li a:hover span.cartype-nav-3,
.cartype-nav > li.active a span.cartype-nav-3 {
  background-image: url(../rentacar/images/car-3-on.png);
}
.cartype-nav > li a:hover span.cartype-nav-4,
.cartype-nav > li.active a span.cartype-nav-4 {
  background-image: url(../rentacar/images/car-4-on.png);
}
.cartype-nav > li a:hover span.cartype-nav-5,
.cartype-nav > li.active a span.cartype-nav-5 {
  background-image: url(../rentacar/images/car-5-on.png);
}
.cartype-nav > li a:hover span.cartype-nav-6,
.cartype-nav > li.active a span.cartype-nav-6 {
  background-image: url(../rentacar/images/car-6-on.png);
}
.cartype-nav > li a:hover span.cartype-nav-7,
.cartype-nav > li.active a span.cartype-nav-7 {
  background-image: url(../rentacar/images/car-7-on.png);
}

.cartype-more {
  padding: 15px;
  border: 1px solid #d7d7d7;
  border-top: none;
}






/* =======================================

======================================== */
.facebox {
  display: block;
  overflow: hidden;
  text-align: center;
  border: 1px solid #d7d7d7;
  padding-top: 30px;
  padding-bottom: 25px;
  cursor: pointer;
}

.facebox dl {
  padding: 20px 20px 0px 20px;
}

.facebox dl dt {
  margin-bottom: 10px;
  font-size: 17px;
}

.facebox dl dd {
  font-weight: 200;
  font-size: 12px;
}

.title-wrap {
  clear: both;
  margin-bottom: 25px;
}

.title-wrap .ttl {
  float: left;
}


/* =======================================
bootstrapで５列を実現
======================================== */
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5,
.col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5,
.col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5,
.col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
/* スマホ（767px以下） */
.col-xs-1-5 {width: 20%;float: left;}
.col-xs-2-5 {width: 40%;float: left;}
.col-xs-3-5 {width: 60%;float: left;}
.col-xs-4-5 {width: 80%;float: left;}
/* タブレット（768px～991px） */
@media (min-width: 768px) {
    .col-sm-1-5 {width: 20%;float: left;}
    .col-sm-2-5 {width: 40%;float: left;}
    .col-sm-3-5 {width: 60%;float: left;}
    .col-sm-4-5 {width: 80%;float: left;}
}
/* PC（992px～1119px） */
@media (min-width: 992px) {
    .col-md-1-5 {width: 20%;float: left;}
    .col-md-2-5 {width: 40%;float: left;}
    .col-md-3-5 {width: 60%;float: left;}
    .col-md-4-5 {width: 80%;float: left;}
}
/* PC大画面（1200px以上）*/
@media (min-width: 1200px) {
    .col-lg-1-5 {width: 20%;float: left;}
    .col-lg-2-5 {width: 40%;float: left;}
    .col-lg-3-5 {width: 60%;float: left;}
    .col-lg-4-5 {width: 80%;float: left;}
}


@media only screen and (max-width : 1024px) {
  .cardcol img {
    width: 30%;
  }

  .cardcol .cardcol-box  .cardcol-box-more {
    position: static;
    float: right;
    margin-top: 10px;
  }

  .main-vis-wrap .l-container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width : 980px) {
  .col-pad {
    padding-right: 5px;
    padding-left: 5px;
  }

  .visual-nav li a {
    font-size: 11px;
    width: 60px;
    height: 60px;
    border: 2px solid;
  }

  .visual-nav li a span {
    font-size: 11px;
    line-height: 1.2;
  }

  .visual-nav {
    left: 40px;
    bottom: 20px;
  }

  .cartype-nav-wrap {
    margin-bottom: 30px;
  }

  .ball.ball-sale {
    transform: scale(.7);
  }

  .card .card-imagearea .card-imagearea-ball.ball.ball-sale {
    right: 0;
    bottom: 0;
  }

}

@media only screen and (max-width : 768px) {
  .nav-pills.cartype-nav>li {
    width: 14.28%;
    max-width: auto;
  }

  .nav-pills.cartype-nav>li:last-child a {
    border: none;
  }
  .card .card-imagearea .card-imagearea-ball.ball.ball-sale{
    right: -10px;
    bottom: -10px;
    transform: scale(.5);
  }
}

@media only screen and (max-width : 768px) {
  .local-nav li {
    width: 49%;
    margin: 0;
    margin-bottom: 5px;
  }

  .local-nav li:nth-child(2n) {
    float: right;
  }

  .sitenav-container .swiper-slide .sitenav .sitenav-img {
    width: 60px;
  }

  .sitenav-container .swiper-slide .sitenav .sitenav-text {
    font-size: 10px;
  }
}

@media only screen and (max-width : 680px) {
   .title-wrap {
    clear: both;
    margin-bottom: 25px;
  }

  .title-wrap .ttl {
  }

  .navlist {
    float: none;
    margin-bottom: 20px;
    clear: both;
  }

  .navlist {
    padding-top: 10px;
    margin-left: -15px;
  }

  .visual-nav li a {
    font-size: 11px;
    width: 40px;
    height: 40px;
    border: 2px solid;
  }

  .visual-nav li a span {
    font-size: 10px;
    line-height: 1.2;
  }

  .visual-nav {
    left: -5px;
    bottom: 5px;
    transform: scale(.8);
  }

  .visual-nav li {
    margin-right: 6px;
  }

  .visual-nav li a {
    border: 1px solid;
  }

  .visual-nav li a span {
    transform: scale(.8);
    font-weight: bold;
  }

  .sitenav-container .swiper-slide .sitenav {
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .sitenav-container .swiper-slide .sitenav .sitenav-img {
    width: 40px;
  }

  .sitenav-container .swiper-slide .sitenav .sitenav-img span {
    font-size: 10px;
  }

  .sitenav-wrapper .sitenav-container {
    margin: 30px 10px;
  }

  .sitenav-wrapper .button-prev, .sitenav-wrapper .button-next {
    transform: scale(.5);
  }

  .sitenav-wrapper .button-prev {
    left: -20px;
  }

  .sitenav-wrapper .button-next {
    right: -20px;
  }

  .ball {
    transform: scale(.7);
  }

  .card.card-flo .card-imagearea {
    width: 30%;
  }

  .card .card-text .card-text-title {
    font-size: 15px;
  }

  .card .card-imagearea .card-imagearea-ball {
    right: 0px;
    bottom: 0px;
  }

  .facebox  {
    padding-top: 10px;
  }

  .facebox img {
    transform: scale(.7);
  }

  .facebox dl {
    padding: 0 15px 0 15px;
  }

  .facebox dl dt {
    font-size: 13px;
  }

  .card .card-imagearea .card-imagearea-ball.ball.ball-sale{
    right: -10px;
    bottom: -10px;
    transform: scale(.5);
  }

  .card.card-flo .cardcol-box-more {
    position: static;
    float: right;
  }

  .cartype-nav > li a span {
    width: auto;
    height: 25px;
    margin-bottom: 5px;
  }

  .cartype-nav > li a span {
    background-size: 80%;
    background-position: center center;
  }

  .cartype-nav > li a {
    font-size: 10px;
    padding: 12px 0 10px;
  }

  .navlist li {
    margin-left: 5px;
  }

  .navlist li:before {
    padding-right: 5px;
  }

  .title-wrap .ttl {
    float: none;
  }

  .priceblock .priceblock-prc span,
  .priceblock .priceblock-prc {
    font-size: 16px;
  }

}

@media only screen and (max-width: 680px) {
  .cartype-nav > li a {
      padding: 5px 0 6px;
  }

  .cartype-nav > li a span {
    margin-bottom: 0;
  }
}
