/* =======================================
  reset
======================================== */
 html{box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,:after,:before{box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{background-repeat:no-repeat;padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}


html { font-size: 62.5% ; }
body {
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 14px;
}

dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
span,
input {
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1.5;
  color: #333;
  font-size: 12px;
  color: #929292;
}

li {
  list-style: none;
}

img {vertical-align: bottom;}

a {text-decoration: none; color: #929292;}
a:hover {text-decoration: none; color: #0671b7;}


/* =======================================
  共通ワイド
======================================== */
.header,
.l-container,
.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* =======================================
  ヘッダー
======================================== */
.site-container {
  border-top: 1px solid #fff;
  margin-top: -1px;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  z-index:  4;
  top: 0;
}

.header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .header-log {
  float: left;
  width: 240px;

}

.header .header-log img {
  max-width: 100%;
}

.header .header-log a {
  display: block;
}

.contents {
}

.gnav {
  float: left;
  margin-left: 60px;
}

.gnav li {
  float: left;
}

.gnav li a {
  display: block;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 14px;
}

.gnav li.gnav-current a {
  background-color: #0671b7;
  color: #fff;
  border-radius: 18px;
}

.snav {
  float: right;
}

.snav li {
  float: left;
  margin-left: 20px;
}

.snav li:first-child {
  margin-left: 0;
}

.snav li a {
  border-radius: 18px;
  display: block;
  padding: 5px 20px;
  font-weight: bold;
  border: 1px solid #d7d7d7;
}

.snav li a:hover {
  background-color: #F0F0F0;
}

.snav li.snav-current a {
  color: #fff;
  background-color: #0d4b84;
  border: 1px solid #0D4B84;
}

.header .hnav {
  right: 15px;
  top: 30px;
  float: right;
}

.hnav > li {
  float: left;
  margin-left: 25px;
}

.hnav > li > a,
.hnav > li > .dropdown > a {
  display: block;
  padding: 3px 0;
}

.hnav li.hnav-login-user {
  vertical-align: middle;
}

.hnav li.hnav-login-user img {
  width: 24px;
  vertical-align: middle;
  margin-right: 5px;
}

.hnav li.hnav-login-user .dropdown {
  margin-top: -3px;
}

.hnav li .dropdown-menu > li {
  margin-left: 0;
}

.hnav .dropdown:hover > ul.dropdown-menu,
ul.dropdown-menu:hover {
  display: block;
}

.gnav-wrapper {
  margin-top: 53px;
}

/* =======================================
  ヘッダーsmall
======================================== */
.header.smaller {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header.smaller .header-log {
  width: 170px;

}

.header.smaller .hnav {
  top: 15px;
}

  .header.smaller .gnav-wrapper {
    margin-top: 36px;
  }

/* =======================================
  フッター
======================================== */
.bottom-navs-wrapper {
  border-top: 2px solid #D7D7D7;
}

.footer-wrapper {
  border-top: 1px solid #D7D7D7;
}

.bottom-navs {
  overflow: hidden;
  padding: 15px 15px;
}

.bottom-navs li.bottom-navs-current a {
  color: #0671b7;
}

.bottom-navs .bottom-navs-lt li {
  float: left;
  margin-right: 25px;
}

.bottom-navs .bottom-navs-lt li:after {
  content: "|";
  margin-left: 25px;
  color: #D7D7D7;
}

.bottom-navs .bottom-navs-lt li:last-child:after {
  content: "";
  margin-left: 0;
}

.bottom-navs .bottom-navs-rt {
  float: right
}

.bottom-navs .bottom-navs-rt li {
  float: left;
  margin-left: 40px;
}

.footer {
  overflow: hidden;
  padding: 45px 15px 50px 15px;
}

.footer .footer-log {
  float: left;
  margin-right: 30px;
}

.footer .footer-text {
  overflow: hidden;
  padding-top: 10px;
}

.footer .footer-text p {
  font-weight:300;
  line-height: 2.0;
}

.footer .footer-text p span {
  color: #D7D7D7;
  margin: 0 15px;
}

.totop {
  position: fixed;
  bottom: -115px;
  right: 15px;
  transition: all .8s;
}

.totop.totop-show {
  bottom: 15px;
  transition: all .8s;
}

.totop a {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #E3E3E3;
  background-color: #F6F6F6;
  line-height: 70px;
}

.totop a i {
  font-size: 30px;
}

/* =======================================
  パンくず
======================================== */
.pankuzu-wapper {
  overflow: hidden;
}
.pankuzu {
  float: right;
  margin-top: 30px;
  padding-bottom: 30px;
}

.pankuzu li {
  float: left;
  font-size: 11px;
  color: #0671B7;
  margin-left: 8px;
}

.pankuzu li:after {
  content: ">";
  margin-left: 10px;
  color: #333;
}

@media only screen and (max-width : 767px) {
  .pankuzu li {
    margin-left: 5px;
  }

  .pankuzu li:after {
    margin-left: 5px;
  }
}

.pankuzu li:last-child {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 8px 4px 5px;
}

.pankuzu li:last-child:after {
  content: "";
}

.pankuzu li a {
  display: inline-block;
  padding: 4px 8px 4px 5px;
}

/* =======================================
  モバイルメニュー
======================================== */
.mobile-nav {
  border-top: 1px solid #dbdbdb;
}

.mobile-nav li a {
  display: block;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.mobile-nav li {
  border-bottom: 1px solid #dbdbdb;
}

.mobile-nav.mobile-nav-flo,
.mobile-nav.mobile-nav-btm {
  overflow: hidden;
}

.mobile-nav.mobile-nav-flo li,
.mobile-nav.mobile-nav-btm li {
  float: left;
  width: 50%;
}

.mobile-nav.mobile-nav-flo li:nth-child(2n),
.mobile-nav.mobile-nav-btm li:nth-child(2n) {
  border-left: 1px solid #dbdbdb;
}

.mobile-nav-title {
  background-color: #F7F7F7;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.mobile-nav.mobile-nav-btm li {
  text-align: center;
}

.mobile-nav.mobile-nav-btm.mobile-nav-btm-last li a {
  background-color: #F7F7F7;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
1023以下
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
@media only screen and (max-width : 1023px) {

  .header.smaller {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header {
    height: auto;
  }

  .header .header-log {
    width: 150px;
  }

  .header.smaller .header-log {
    width: 150px;
  }

  .header .gnav-wrapper {
    display: none;
  }

  .gnav,
  .gnav li,
  .snav li,
  .snav {
    margin: auto;
    float: none;
  }

.hnav > li {display:none;
}

  .hnav li.hnav-login-user {
    display: block;
    margin-top: 11px;
    border-right: 1px solid #ccc;
    margin-right: 65px;
    padding: 5px 15px 5px 0;
  }

  .hnav li.hnav-login-user a {
    font-size: 15px;
  }

  .bottom-navs {
    text-align: center;
  }

  .bottom-navs .bottom-navs-lt li:after {margin-left:5px;
  }

  .bottom-navs .bottom-navs-lt li:last-child:after {
    margin-left: 0;
  }

  .bottom-navs .bottom-navs-lt li,
  .bottom-navs .bottom-navs-rt,
  .bottom-navs .bottom-navs-rt li {
    float: none;
    display: inline-block;
    margin: auto;
  }

  .footer {
    padding-top: 25px 0 25px 0;
  }

  .footer .footer-log {
    float: none;
    display: block;
    margin: 0 auto;
    width: 60px;
  }

  .footer .footer-text {
    margin: 0 15px;
  }
}

@media only screen and (max-width : 768px) {
  .header.smaller,
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header .header-log,
  .header.smaller .header-log {
    width: 120px;
  }

  .hnav li.hnav-login-user {
    margin-top: 4px;
  }

}

@media only screen and (max-width : 600px) {
  .pankuzu {
    margin-top: 15px;
    padding-bottom: 15px;
  }
}

