
/* =======================================
======================================== */
#humberger{
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    box-sizing: border-box;
    cursor: pointer;
    display: block;
}


.drawer-btn {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    display: none;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    width: 44px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    height: 34px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    padding: 6px 5px 1px 5px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    text-align: center;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    border-radius: 0;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    position: absolute;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    top: 33px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    right: 15px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    border: 1px solid #DBDBDB;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    padding-top: 8px;
}


.icon-bar {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    height: 2px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    background: #555;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    border-radius: 0px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    display: block;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    margin-bottom: 5px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    margin-right: auto;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    margin-left: auto;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    width: 22px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}


.drawer-close {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    color: #333;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    padding: 10px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    text-align: right;
}


.drawer-overlay {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    z-index: -1;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    opacity: 0;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    background: #000;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    left: 0;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    top: 0;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    width: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    height: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    position: fixed;
}


body.drawer-opened .fixed-content {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    left: -300px;
}


body.drawer-opened #drawernav {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    right: 0;
}


body.drawer-opened .drawer-overlay {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    z-index: 3;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    opacity: 0.3;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    left: -300px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    transition: all .5s ease-in-out;
}


#humberger {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    display: block;
}


#drawernav {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    position: fixed;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    top: 0;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    right: -300px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    width: 300px;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    height: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    background: #333;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    color: #fff;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    z-index: 4;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    padding-top: 0;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}


#drawernav nav {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    overflow: auto;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    height: 100vh;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    padding-bottom: 100px;
}


#drawernav {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    background-color: #FFF;
}


@media only screen and (max-width : 1023px) {
}


@media only screen and (max-width : 768px) {
}
.drawer-btn {
  display: none;
  width: 44px;
  height: 34px;
    padding: 6px 5px 1px 5px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 33px;
    right: 15px;
    border-radius: 0;
    border: 1px solid #DBDBDB;
    padding-top: 8px;
}
.icon-bar{
  height: 2px;
  background: #555;
  border-radius: 0px;
  display: block;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 22px;
  -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
          transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
          transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.drawer-close {
  color: #333;
  padding: 10px;
  text-align: right;
}

/* =======================================
======================================== */
.drawer-overlay {
  z-index:-1;
  opacity: 0;
  background: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;

/*  -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
          transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);

  -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
          transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); */
}

/*    .site-wrapper{
      position: relative;
      z-index: 2;
      left: 0;
      background: #fff;
      -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
           -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
              transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);

      -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
           -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
              transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    }*/

/* =======================================
======================================== */
/*    body.drawer-opened .site-wrapper {
        left: -300px;
        box-shadow: -3px 0 5px rgba(0,0,0,1);
    }*/
    body.drawer-opened .fixed-content{
        left: -300px;
    }
    body.drawer-opened #drawernav{
        right: 0;
    }
/*    body.drawer-opened #humberger .icon-bar{
        background: #fff;
    }*/
/*    body.drawer-opened #humberger :nth-child(1){
        transform:translate(0,8px) rotate(45deg);
        -webkit-transform:translate(0,8px) rotate(45deg);
    }
    body.drawer-opened #humberger :nth-child(2){
        transform:translate(-20px ,0);
        -webkit-transform:translate(-20px ,0);
        opacity:0;
    }*/
/*    body.drawer-opened #humberger :nth-child(3){
        transform:translate(0,-8px) rotate(-45deg);
        -webkit-transform:translate(0,-8px) rotate(-45deg);
    }*/
    body.drawer-opened .drawer-overlay  {
        z-index: 3;
        opacity: 0.3;
        left: -300px;
        transition: all .5s ease-in-out;
    }

/* =======================================
======================================== */
#humberger {
  display: block;
}
#drawernav{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #333;
    color: #fff;
    z-index: 4;
    padding-top: 0;
    -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
            transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
            transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

#drawernav nav {overflow: auto; height: 100vh; padding-bottom: 100px;}

/* =======================================
======================================== */
#drawernav {
  background-color: #FFF;
}

@media only screen and (max-width : 1023px) {
  .drawer-btn {display: block;}
}

@media only screen and (max-width : 768px) {
  .drawer-btn {
    top: 14px;
  }
}


#humberger {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    box-sizing: border-box;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    cursor: pointer;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*display: none;*/
  /*z-index: 3;*/
    display: block;
}