

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
form
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.input-textbox
{
    max-width: 250px;
}

.animated
{
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.input-double
{
    float: left;
    margin-right: 10px;
}

.alert-red
{
    clear: both;
    color:#F00;
    display: block;
}

.checkbox-agree
{
    display: block;
    padding: 5px;
}

.checkbox-agree-span
{
    padding: 5px;
}

.wid-a {
    width: 170px;
}


@media only screen and (max-width : 600px) {
    .main-board-wrap {
        margin-bottom: 35px;
    }

    .input-double {
        width: 100%;
        margin-right: 0;
    }

    .input-double input {
        margin-right: 0;
    }

    .input-double + .btn {
        margin-top: 8px;
        float: right;
    }
}


