/* =======================================
  タイトル
======================================== */
.bold{font-weight:700;}
.regular{font-weight:400;}
.light{font-weight:300;}
.ultralight{font-weight:200;}

.headline-blue {
  color: #0272ba;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -.5px;
}

.headline-blue span,
.headline-glay span {
  font-size: inherit;
}

.headline-glay {
  color: #929292;
  font-size: 17px;
  font-weight: bold;
}

.left-bdr {
  padding-left: 10px;
  border-left: 6px solid #0671b7;
}

.fsize-lg {
  font-size: 24px;
}

.fsize-md {
  font-size: 18px;
}

.fsize-ms {
  font-size: 12px;
}

.fsize-sm,
.fsize-sm-list li,
.signup .signup-main .signup-main-btm .signup-main-btm-text.fsize-sm,
.localnavs .localnavs-text,
.hnav li a {
  font-size: 11px;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}


/* =======================================
  フォントカラー
======================================== */
.color-blue,
.cardcol .cardcol-box  .cardcol-box-cate,
.card .card-text .card-text-cate {
  color: #0671b7;
}

.color-lightblue {
  color: #0272ba;
}

.color-green {
  color: #1bb901;
}

.color-glay {
  color: #929292 !important;
}

/* =======================================
  ボタン
======================================== */
.btn {
  border-radius: 0;
}

.btn-nomal {
  background: #0272ba;
  color: #fff;
  border: none;
  box-shadow: none ;
  font-size: 13px;
  border-radius: 15px;
  padding: 6px 18px;
}

.btn-nomal:hover, .btn-nomal:focus {
  color: #fff;
  background: rgba(2,114,186,.9);
}

.btn-nomal:active {
  background: #0272ba;
}

.btn-wrapper {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 30px;
}

@media only screen and (max-width : 600px) {
  .btn-wrapper {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.btn-wrapper li {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 15px 20px;
  font-size: 24px;
}

.btn-lg2 {
  width: 100%;
  display: block;
  padding: 15px;
  margin: 30px auto;
  font-size: 24px;
  max-width: 340px;
}

.btn-gy {
  background: #fff;
  border: none;
  box-shadow: none ;
  border: 1px solid #D7D7D7;
  font-size: 13px;
  border-radius: 15px;
  padding: 6px 18px;
}

@media only screen and (max-width : 460px) {
  .btn-group-lg>.btn, .btn-lg {
    padding: 15px 10px;
    font-size: 20px;
  }
}

/* =======================================
facebook icon
======================================== */
.btn-list {
  text-align: center;
  padding-top: 20px;
  border-top: 1px dotted #d7d7d7;
}

.btn-list li {
  margin: 0 5px 10px;
  display: inline-block;
}

.btn-facebook {
  display: block;
  background-color: #47639E;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 150px;
  height: 40px;
}

.btn-facebook span {
  color: #fff;
  padding-top: 11px;
  font-size: 14px;
  display: inline-block;
  margin-left: -4px;
}

.btn-facebook i {
  float: left;
  color: #FFF;
  padding: 9px 2px 0 15px;
  font-size: 22px;
}

/* =======================================
naver btn
======================================== */
.btn-naver {
  display: block;
  background-color: #00C73C;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  height: 40px;
  width: 150px;
}

.btn-naver span {
  display: inline-block;
  color: #fff;
  padding-top: 11px;
  font-size: 14px;
  margin-left: -19px;
}

.btn-naver img {
  float: left;
  padding: 10px 15px 0 15px;
  width: 50px;
  color: #FFF;
}

.btn-facebook.wid-lg,
.btn-naver.wid-lg {
  width: 210px;
}

@media only screen and (max-width : 460px) {
  .btn-list li {
    margin: 0 2px;
  }

  .btn-naver img {
    width: 50px;
  }

}

/* =======================================
step
======================================== */
.stepnav {
  margin-bottom: 20px;
  padding-top: 50px;
  position: relative;
  margin-top: 20px;
}

.stepnav:before,
.stepnav:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 300px;
  z-index: 1;
  left: 0;
  top: 20px;
  right: 0;
  margin: auto;
  background-color: #ccc;
}

.stepnav.stepnav-now2:after {
  background-color: #0671B7;
  left: -170px;
  width: 200px;
  z-index: 2;
}

.stepnav.stepnav-now3:after {
  background-color: #0671B7;
  z-index: 2;
}

.stepnav li {
  display: inline-block;
  margin: 0 50px;
  position: relative;
}

.stepnav li:nth-child(1):before {
  content: "1";
}

.stepnav li:nth-child(2):before {
  content: "2";
}

.stepnav li:nth-child(3):before {
  content: "3";
}

.stepnav li:nth-child(1):before,
.stepnav li:nth-child(2):before,
.stepnav li:nth-child(3):before {
  z-index: 3;
  color: #bbb;
  font-size: 16px;
  line-height: 40px;
  margin: auto;
  top: -50px;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  border: 2px solid #ccc;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.stepnav li.stepnav-current:before {
  border: 2px solid #0671B7;
  color: #0671B7;
}

.stepnav li.stepnav-after:before {
  border: 2px solid #0671B7;
  color: #fff;
   background-color: #0671B7;
    content: "\00E5CA";
    font-family: 'Material Icons';
}

@media only screen and (max-width : 600px) {
  .stepnav:before,
  .stepnav:after {
    width: 160px;
  }

  .stepnav.stepnav-now2:after {
    left: -120px;
    width: 100px;
  }

  .stepnav li {
    margin: 0 10px;
  }

}


/* =======================================
  背景画像
======================================== */
.bg-gy {
  border: 1px solid #E3E3E3;
  background-color: #F6F6F6;
  padding: 5px 10px;
}

.bg-bl {
  background-color: #0671B7;
}

/* =======================================
  |区切り線
======================================== */
.line {
  color: #D7D7D7;
  margin: 0 10px;
}

/* =======================================
  bootstrap
======================================== */

.dropdown-menu > li > a {
  padding-left: 10px;
  display: block;
}

.table {
  /*margin-bottom: 50px;*/
}

.table>thead>tr>th,
.table>tbody>tr>td,
.table>tbody>tr>th {
  text-align: center;
  padding: 20px;
  vertical-align: middle;
}

th,td {
  word-wrap:break-word;
  color: #929292;
}

.modal-content {
  border-radius: 0;
  border: 4px solid #0671B7;
}

.modal-content-inner {
  padding: 30px;
}

.table.table-text-left>tbody>tr>td,
.table.table-text-left>tbody>tr>th {
  text-align: left;
}

.table > tbody > tr > th.va-top {
  vertical-align: top;
}


.onetable tr td {
  position: relative;
  min-height: 160px !important;
}

.onetable .onetable-date {
  display: block;
  margin-bottom: 15px;
}

.onetable .onetable-img {
  float: left;
  margin-right: 20px;
}

.onetable .onetable-info {
  overflow: hidden;
  margin-bottom: 15px;
}

.onetable .onetable-info .onetable-info-title {
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 5px;
}

.onetable .onetable-text {
  clear: both;
  margin-bottom: 5px;
}

.onetalbe-funcs {
  float: left;
}

.onetable .onetable-btmbox {
  float: right;
}

.onetable-btmwrap {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.onetable .onetable-btmbox {
  padding-top: 7px;
}
.onetable .onetable-btmbox > div,
.onetable .onetable-btmbox ul {float:left;
}

.onetable .onetable-btmbox > div {
  margin-left: 30px;
}

.onetable .onetable-btmbox > div > span {
  font-weight: bold;
  margin-right: 8px;
}

.onetable .onetable-btmbox > div.onetable-btmbox-btnlist {
  margin-left:10px;
}

.onetable .onetable-btmbox > div.onetable-btmbox-btnlist.onetable-btmbox-btnlist-first {
  margin-left: 25px;
}

@media only screen and (max-width : 600px) {
  .onetable .onetable-btmbox > div,
  .onetable .onetable-btmbox ul {
    float: none;
  }

  .onetable .onetable-btmbox {
    text-align: right;
  }

  .onetable .onetable-btmbox ul {
      display: inline-block;

  }
  .table.mobiletable-row {
    border: none;
  }
  .table.mobiletable-row>thead>tr>th,
  .table.mobiletable-row>tbody>tr>td,
  .table.mobiletable-row>tbody>tr>th {
    display: block;
    border: none;
    width: auto;
  }

  .table.mobiletable-row>tbody>tr>th {
    border-bottom: 1px solid #d7d7d7;
    /*border-left: 1px solid #d7d7d7;*/
    margin-bottom: 5px;
  }
  .table.mobiletable-row>tbody>tr>td {
    margin-bottom: 20px;
  }

  .onetable .onetable-btmbox > div {
    margin-left: 0;
  }

  .onetable .onetable-btmbox > div.onetable-btmbox-btnlist.onetable-btmbox-btnlist-first {
    margin-left: 15px;
  }
  .onetable .onetable-btmbox > div.onetable-btmbox-btnlist {
    margin-top:5px;
  }
}

/* =======================================
  clear
======================================== */
.pos-rel {
  position: relative;
}

.flo-lt {
  float: left;
}

.flo-rt {
  float: right;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.clear {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.ta-left,
.text-left,
.table>thead>tr>th.ta-left,
.table>tbody>tr>td.ta-left,
.table>tbody>tr>th.ta-left,
.table>thead>tr>th.text-left,
.table>tbody>tr>td.text-left,
.table>tbody>tr>th.text-left {
  text-align: left;
}

/*@media only screen and (max-width : 767px) {
  .table-responsive {
    max-width: 700px;
    overflow: auto;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white 15px) 0 0/50px 100%, linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)) 0 0/20px 100%, linear-gradient(to right, rgba(255, 255, 255, 0), white 15px) right/50px 100%, linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)) right/20px 100%;
    background-repeat: no-repeat;
    background-attachment: local, scroll, local, scroll;
    border-right: 1px solid #CCC;
    margin-bottom: 40px;
  }

  .table-responsive table {
      background: linear-gradient(to left, rgba(255, 255, 255, 0), white 15px) 0 0/50px 100%, linear-gradient(to right, rgba(255, 255, 255, 0), white 15px) right/50px 100%;
      background-repeat: no-repeat;
      background-attachment: local;
      border-bottom: 1px solid #CCC;
      border-collapse: collapse;
      margin-bottom: 0;
  }
}*/

/* =======================================
  タグ
======================================== */
.category-tag,
.tag {
  display: inline-block;
  min-width: 70px;
  padding: 7px 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
}

.square-box {
  display: inline-block;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 34px;
  padding: 7px 0;
  margin-left: 10px;
}

.va-md {
  vertical-align: middle;
}

.ml-10 {margin-left: 10px;}

/* =======================================
  paging
======================================== */
.paging {
  clear: both;
  text-align: center;
  padding-bottom: 80px;
}

.paging li {
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 5px;
}

.paging li a {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid #D7D7D7;
  line-height: 27px;
}

.paging li.paging-current a {
  background-color: #0671b7;
  border: 1px solid #0671B7;
  color: #fff;
}

.paging li:last-child:before {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(255,255,255,.2);
  width: 1px;
  left: 0;
  top: 5px;
  bottom: 5px;
}

.paging li:first-child span:before {
  content: "\00E5CB"; font-family: 'Material Icons';
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  font-size: 12px;
  margin-right: 3px;
}

.paging li:last-child span:after {
  content: "\00E5CC"; font-family: 'Material Icons';
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  font-size: 12px;
  margin-left: 3px;
}

/* =======================================
  マージン
======================================== */
.mr-0,
.onetable .onetable-btmbox > div > span {margin-right: 0px;}
.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}

.mt-0 {margin-top: 0px;}
.mt-10 {margin-top: 10px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}

.mb-0,
.table.mobiletable-row>tbody>tr>td.mb-0 {margin-bottom: 0px;}
.mb-10,table.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom:30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.mb-60 {margin-bottom: 60px;}
.mb-70 {margin-bottom: 70px;}


.list-style-dot li:before {
  content: "・";
  margin-right: 5px;
  color: #d7d7d7;
}

.wid-60,.form-inline .form-control.wid-60 {width: 60px;}
.wid-70,.form-inline .form-control.wid-70 {width: 70px;}
.wid-80,.form-inline .form-control.wid-80 {width: 80px;}
.wid-90,.form-inline .form-control.wid-90 {width: 90px;}
.wid-100,.form-inline .form-control.wid-100 {width: 100px;}
.wid-110,.form-inline .form-control.wid-110 {width: 110px;}



/* =======================================

======================================== */
.count {
  width: 80px;
  overflow: hidden;
}

.count li {
  width: 20px;
  height: 20px;
  float: left;
}

.count li:first-child {
  border: 1px solid #d7d7d7;
  cursor: pointer;
}

.count li:last-child {
  float: right;
  border: 1px solid #d7d7d7;
  cursor: pointer;
}

.count li.count-num {
  text-align: center;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  line-height: 20px;
  width: 40px;
}

.tooltip-inner {
  max-width: 800px;
  /*background-color:   #fff;*/
  box-shadow: 0 0 1px #000;
}
/*
.tooltip.right .tooltip-arrow {
  border-right-color: #fff !important;
}

.tooltip.right .tooltip-arrow:before {
  content: "";
    top: 50%;
    left: -2px;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}*/

.tooltip.right .tooltip-arrow:after {

}

.count li:first-child:hover ,
.count li:last-child:hover  {
  background-color:   #F8F8F8;
}

.priceblock .priceblock-msg,
.priceblock .priceblock-prc {
  display: inline-block;
}

.priceblock {
  color: #646464;
}

.priceblock .priceblock-msg span ,
.priceblock .priceblock-prc span {
  color: #0671B7;
}

.priceblock .priceblock-prc span {
  font-size: 24px;
  margin: 0 1px 0 1px;
}

.priceblock .priceblock-prc {
  font-size: 22px;
}


/* =======================================
  icon
======================================== */
.plus.icon {
  color: #d7d7d7;
  position: relative;
  margin-left: 4px;
  margin-top: 9px;
}

.plus.icon:before {
  content: '';
  position: absolute;
  width: 11px;
  left: 0;
  height: 1px;
  background-color: currentColor;
}

.plus.icon:after {
  content: '';
  position: absolute;
  width: 11px;
  left: 0;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.minus.icon {
  position: relative;
  left: 0;
  color: #d7d7d7;
  margin-left: 4px;
  margin-top: 8px;
  width: 11px;
  height: 1px;
  background-color: #d7d7d7;
}


.close.icon {
  display: inline-block;
  color: #000;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #A2A0A3;
}

.close.icon:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;
  width: 11px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close.icon:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;
  width: 11px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}



/* =======================================
  フォーム
======================================== */
.form-control {
  border-radius: 0;
}

.form-group .radio-inline {
  margin-right: 20px;
}

label {
  font-weight: 400;
}

@media only screen and (max-width : 1024px) {
  .form-group-inline .form-control {
    display: inline-block;
    width: auto;
  }
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-left: 0;
}

.input-inline {
  width: auto;
  display: inline-block;
}

.checkbox-inline, .radio-inline {
  padding-left: 0;
}

.form-text {
  background-color: #0272BA;
  border: none;
  color: #fff;
  border-radius: 17px;
  color: #fff;
  font-weight: 200;
  text-indent: 5px;
}
//* webkit */
::-webkit-input-placeholder {
    color:    #999;
}

/* firefox */
:-moz-placeholder {
    color:    #999;
}

.input-error {
  background-color: #e51c20;
}

.input-error::-webkit-input-placeholder,
.signup-main-body-input input::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.input-error:-ms-input-placeholder,
.signup-main-body-input input::-webkit-input-placeholder { /* IE 10+ */
  color: #fff;
}
.input-error::-moz-placeholder,
.signup-main-body-input input::-webkit-input-placeholder { /* Firefox 19+ */
  color: #fff;
}
.input-error:-moz-placeholder,
.signup-main-body-input input::-webkit-input-placeholder { /* Firefox 4 - 18 */
  color: #fff;
}


.input-file {
  margin-right: 10px;
  padding: 6px 10px;
  border: 1px solid #DDD;
}

.input-file input {
  display: none;
}

.form-inline .form-control.input-date {
  position: relative;
  background-color: transparent;
}

.input-date-wrapper {
  position: relative;
  width: 120px;
}

.input-date-wrapper:after {
  content: "\f073";
  font-family: FontAwesome;
  position: absolute;
    top: -6px;
    font-size: 17px;
    right: 18px;
}

@media only screen and (max-width : 400px) {
  .input-date-wrapper .input-date {
    margin: 5px 0;
  }
}

.form-inline .form-control {
}

.label-name {
  width: 3em;
}

.alert-red {
  margin-top: 5px;
}


/* =======================================
  checkbox
======================================== */
input.input-check {
  display: none;
}

input.input-check + .input-check-text {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

input.input-check + .input-check-text:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  border-radius: 1px;
  width: 15px;
  height: 15px;
  background-color: #F6F6F6;
  border: 1px solid #c5c5c5;
}

input.input-check[type=checkbox]:checked + .input-check-text:after {
  border: 2px solid #0671b7;
  background-color: #0671b7;
}

input.input-check[type=checkbox]:checked + .input-check-text:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 5px;
  background-color: #0671b7;
  border: 2px solid #1F74D4;
  top: 1px;
  width: 5px;
  height: 10px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-color : #99ccff;
     -webkit-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}

/* =======================================
  radio
======================================== */
/*.mw_wp_form .horizontal-item + .horizontal-item,
.mwform-checkbox-field.horizontal-item,
.mwform-radio-field {
  display: block;
  margin-left: 0 !important;
  margin-bottom: 4px;
}
*/

.input-radio {
  display: none;
}

input.input-radio + .input-radio-text {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

input.input-radio + .input-radio-text:before {
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  content: "";
  height: 16px;
  width: 16px;
  display: block;
  top: -1px;
  left: 0;
  position: absolute;
  background-color: #F6F6F6;
}

input.input-radio:checked + .input-radio-text:after {
  opacity: 1;
  border-radius: 50%;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
    transition: all .2s;
    content: "";
    height: 8px;
    width: 8px;
    display: block;
    top: 3px;
    left: 4px;
    position: absolute;
    background-color: #1F74D4;
}




@media only screen and (max-width : 1024px) {

  .table>thead>tr>th,
  .table>tbody>tr>td,
  .table>tbody>tr>th {
    padding: 10px;
  }
}
