/*
=================================================================
cropper追加css　キャンパス、プレビュー部分
=================================================================
*/

/* Image cropper style */
.ibox-content {
    margin-bottom:15px;
}


.img-container,
.img-preview {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

/*
.image-crop{
  background-color: #f7f7f7;
}

.image-crop {
  min-height: 200px;
  max-height: 400px;
}

@media (min-width: 768px) {
  .image-crop {
    min-height: 400px;
  }
}
*/

.image-crop > img {
  max-width: 100%;
}


.img-preview-sm {/* レビュー画像サイズ　1:1 */
  height: 250px;
  width: 250px;
}


.img-preview-main {/* レビュー画像サイズ　16:9 */
  height: 250px;
  width: 250px;
}

.image-crop {
    /*width: 100%;*/
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.wrap-crop {
    position: relative;
}
.wrap-crop:after {
    padding-top: 100%;
    display: block;
    content: "";
}

/*
=================================================================
cropper追加css　プレビューメイン画像右ボタン部分枠
=================================================================
*/
.blockspe{
    margin-top:50px;
    
}


/*
=================================================================
/app_company/goods/goods_regist.php
=================================================================
*/
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  min-height: 48px;
  padding: 14px 15px 7px;
}
.ibox-title h5 {
  display: inline-block;
  float: left;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  font-weight: 600;
}
.ibox-content {
  clear: both;
}
.ibox-content {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  color: inherit;
  padding: 15px 20px 20px;
}
