.header .header-log {
  margin-right: 10px;
}

.header.smaller .header-log {
}

.details-contents {
  margin-top: 50px;
}

.table-2col th {
  width: 160px;
}

.form-horizontal .control-label.text-center {
  text-align: left;
}

.form-inline .form-control.display-block {
  display: block;
  width: 100%;
}

.table th.col-b, .table th.col-c, .table th.col-d {
    width: 12%;
}

.table-img {
  vertical-align: middle;
  margin-right: 20px;
  display: inline-block;
}

.table-img-p {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}

.pos-rel-note {
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 20px;
  margin: auto;
  height: 16px;
}

/* =======================================
  step
======================================== */
.step-wrapper {
  overflow: hidden;
  border: 1px solid #DDD;
}

.step li {
    font-size: 18px;
    float: left;
    font-weight: bold;
    padding: 22px 0 0 30px;
    height: 84px;
  background: url(../images/step-bg-off.svg) no-repeat right 47.8%;
}

.smaller .step li {
  padding-top: 12px;
  height: 65px;
}


.step li:nth-child(2) {
  width: 27%;
}
.step li.step-current {
  color: #fff;
  width: 50%;
  background: url(../images/step-bg-on.svg) no-repeat right 47.8% #0272ba;
}

.step li.step-current-off {
  background: url(../images/step-bg-off-rt.svg) no-repeat right 47.8% #fff;
  width: 26%;
}

.step li:last-child {
  background-image: none;
  /*text-align: center;*/
  /*padding-left: 0;*/
}

.step li .step-boll {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  color: #929292;
  vertical-align: middle;
  border: 1px solid #929292;
}

.step li.step-current .step-boll {
  color: #0272ba;
  border: #0272ba;
}

.step li .step-text {
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    margin-left: 5px;
    color: #bce5ff;
}

.step li div {
  display: inline-block;
  vertical-align: middle;
}



/* =======================================
  料金部分
======================================== */
.pricebox.pricebox-one,
.pricebox.pricebox-two {
  width: 27%;
}

.pricebox.pricebox-all {
  width: 46%;
  border-right: 1px solid #ddd;
}

.pricebox {
  float: left;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.pricebox .pricebox-head {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
  align-items: center;
}

.pricebox .pricebox-head .pricebox-head-num {
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-right: 8px;
}

.pricebox .pricebox-head .pricebox-head-num b {
  font-size: 13px;
  color: #333;
}

.pricebox .pricebox-more {
  padding: 30px 20px;
}

.pricebox .pricebox-more p {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.pricebox.pricebox-all .pricebox-more p {
  display: block;
}

.pricebox.pricebox-one .pricebox-head,
.pricebox.pricebox-two .pricebox-head {
  position: relative;
}

.pricebox.pricebox-one .pricebox-head:after {
  content: "+";
  width: 24px;
  height: 24px;
  line-height: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 38px;
  right: -13px;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  color: #D7D7D7;
  position: absolute;
}

.pricebox.pricebox-two .pricebox-head:after {
  content: "=";
  width: 24px;
  height: 24px;
  line-height: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 38px;
  right: -13px;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  color: #D7D7D7;
  position: absolute;
}

/* =======================================
  payment
======================================== */
.pricebox.pricebox-payment {
  border-bottom: none;
}

.table-bordered>tbody>tr.bdr-none-td >td,
.table-bordered>tbody>tr.bdr-none-td >th {
    border: none;
}

.payment-table-bclok {
  overflow: hidden;
  padding-left: 200px;
  max-width: 880px;
}

.payment-table-left {
  float: left;
  width: 50%;
}



/* =======================================
  スクロール時のステップ
======================================== */
@media only screen and (max-width : 1024px) {
  .step li,
  .smaller .step li {
    padding: 15px 0 0 20px;
    height: 54px;
  }

  .pos-rel-note {
    position: static;
    text-align: right;
    margin-bottom: 15px;
  }
  .step li .step-boll {
    width: 30px;
    line-height: 32px;
    height: 30px;
  }
}


@media only screen and (max-width : 980px) {
  .hinto {
    display: none;
  }

  .pricebox {
    border-right: 1px solid #ddd;
  }

  .pricebox.pricebox-one,
  .pricebox.pricebox-two,
  .pricebox .pricebox-more,
  .pricebox.pricebox-all {
    float: none;
    width: 100%;
  }

  .pricebox .pricebox-head,
  .pricebox .pricebox-more {
    float: left;
    padding: 20px;
  }

  .pricebox .pricebox-head {
    width: 50%;
    border-right: 1px solid #ddd;
    border-bottom: none;
  }

  .pricebox .pricebox-more {
    width: 50%;
  }

  .pricebox.pricebox-one .pricebox-head:after,
  .pricebox.pricebox-two .pricebox-head:after {
    right: 0;
    margin: auto;
    left: 0;
    bottom: -12px;
    top: auto;
  }

  .pricebox.pricebox-two .pricebox-head:after {
    transform: rotate(-90deg);
  }

  .step li {
    height: 54px;
    padding-bottom: 0;
  }

  .step li,
  .step li:nth-child(2),
  .step li.step-current {
    width: 35%;
    font-size: 16px;
    text-align: center;
    padding-left: 0;
  }

  .step li .step-text {
    display: none;
  }

  .step li .step-boll {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
  }

  .step li span {
    margin-left: -15px;
  }

  .step li:last-child {
    width: 30%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }

  /* =======================================
    payment
  ======================================== */
  .pricebox.pricebox-payment .pricebox-head {
    width: 100%;
  }

  .payment-table-bclok {
    padding: 0;
  }

  .payment-table-left {
    /*float: none;*/
    width: 50%;
  }

}



@media only screen and (max-width : 767px) {
  .header .header-log {
    margin-bottom: 5px;
  }
  .step-wrapper {
    overflow: hidden;
    clear: both;
  }

  .smaller .step li,
  .step li {
    padding: 16px 0 0;
    height: 54px;
  }

  .step li .step-boll {
    margin-right: 5px;
  }

  .step li .step-boll {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
  }

  .pricebox.pricebox-all .pricebox-head {
    border-right: none;
  }

  .pricebox.pricebox-all .pricebox-more {
    border-left: 1px solid #ddd;
  }

  .payment-table-left {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }

  .step li.step-current-off {
    width: 35%;
  }
}

@media only screen and (max-width : 600px) {

  .pricebox .pricebox-head,
  .pricebox .pricebox-more {
    width: 50%;
    padding: 20px 10px 20px 10px;
  }

  .pricebox .pricebox-head {

  }

  .pricebox .pricebox-head {
    display: block;
  }

  .details-contents {
    margin-top: 25px;
  }


  .step li div {
    font-size: 10px;
  }

  .form-group div{
    display: block;
    width: auto;
  }


  .form-group > div {
    display: block;
    width: auto;
  }

  .payment-table-rsp-th {
    padding-top: 15px !important;
    vertical-align: top !important;
    width: 120px !important;
  }

}




