.final-head {
  overflow: hidden;
  margin-bottom: 50px;
}

.final-head .final-head-img {
  float: left;
  margin-right: 15px;
}

.final-head .final-head-info {
  overflow: hidden;
  border: 1px solid #e3e3e3;
  padding: 30px;
}

.final-head .final-head-info h1 {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 15px;
}

.final-head .final-head-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.final-head .final-head-info .final-head-info-price {
  margin-bottom: 10px;
}

.final-head .final-head-info .final-head-info-price .fs-s {
  font-size: 20px;
}

.final-head .final-head-info .final-head-info-price .fs-l {
  font-size: 36px;
  margin-left: 8px;
}

.final-head .final-head-info .final-head-info-price .fs-m {
  font-size: 30px;
}

.final-head .final-head-info .final-head-info-selects {
  margin-bottom: 20px;
}

.final-head .final-head-info .final-head-row {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: right;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #e3e3e3;
}

.final-head .final-head-info .final-head-row p {
  float: left;
  margin-right: 20px;
}

.final-head .final-head-info .final-head-row .count {
  float: left;
}

.final-head .final-head-info .final-head-row .close {
  margin-left: 5px;
}


.final-head .final-head-info .final-head-btm {
  margin-top: 30px;
  text-align: right;
}

.final-head .final-head-info .final-head-btm p {
  text-align: right;
  font-weight: bold;
  margin-bottom: 15px;
}

.final-head .final-head-info .final-head-btm p span {
  margin-left: 5px;
}


/* =======================================

======================================== */
.final-rowtab {
  overflow: hidden;
  border: 1px solid #d7d7d7;
  margin-bottom: 50px;
}

.final-rowtab .tab-row {
  float: left;
  width: 150px;
  border-right: 1px solid #d7d7d7;
}

.tab-row li {
  text-align: center;
  padding: 40px 0;
  cursor: pointer;
}

.tab-row li.tab-row-current {
  color: #fff;
  background-color: #0671B7;
  border-right: none;
  position: relative;
}

.tab-row li.tab-row-current:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #0671B7;
}



/* =======================================

======================================== */
.tab-conts {
  padding: 25px 86px  0 86px;
  position: relative;
  overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.slide-images-box {
}

.slide-images-box .slide-images-box-img {
  margin-bottom: 10px;
  width: 100%;
}

.slide-images-box .slide-images-box-img img {
}

.slide-images-box .slide-images-box-item dt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 10px;
}

.slide-images-box .slide-images-box-item dt span {
  font-size: 11px;
}

.slide-images-box .slide-images-box-item dd {
  text-align: right;
}

.slide-images-wrapper .swiper-button-next {
  margin-right: 15px;
}

.slide-images-wrapper .swiper-button-prev {
  margin-left: 15px;
}



/* =======================================

======================================== */
.nav-tabs {
  border-bottom: 3px solid #0671B7;
}

.nav-tabs>li {
  /*bottom: -4px;*/
  position: relative;
}

.nav-tabs>li span {
  font-size: 11px;
  color: #0671B7;
}

.nav-tabs>li.active {
  bottom: -2px;
}

.nav-tabs>li>a {
  font-size: 18px;
  border: 1px solid #ddd;
  text-align: center;
  margin-right: 5px;
  border-radius: 0;
  border-bottom: transparent;
  padding: 16px 35px 12px 35px;
}

.tab-content {
  margin-bottom: 50px;
  padding: 30px;
  border-right: 1px solid #D7D7D7;
  border-left: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 3px solid #0671B7;
  border-bottom: transparent;
}

.megahon {
  padding: 20px 25px;
  overflow: hidden;
  background-color: #0671b7;
  margin-bottom: 30px;
}

.megahon i {
  float: left;
  color: #FFF;
  margin-right: 20px;
  font-size: 60px;
}

.megahon .megahon-text {
  overflow: hidden;
}

.megahon .megahon-text h3 {
  color: #fff;
  font-size: 24px;
}

.megahon .megahon-text p {
  color: #FFF;
  font-size: 12px;
}

/* =======================================

======================================== */
.talbe-half td {
  width: 50%;
}

.talbe-half td div {
  min-height: 150px;
}

/* =======================================

======================================== */
@media only screen and (max-width : 1024px) {
  .final-head .final-head-img {
    width: 35%;
  }

  .final-head .final-head-img img {
    width: 100%;
  }

  .tab-row li {
    padding: 30px 0;
  }
}

@media only screen and (max-width : 1024px) {
  .final-head .final-head-info .final-head-row p {
    float: none;
    text-align: left;
    margin-bottom: 5px;
  }

  .slide-images-wrapper .swiper-button-next,
  .slide-images-wrapper .swiper-button-prev {
    transform: scale(.7);
  }
}

@media only screen and (max-width : 768px) {
  .final-rowtab .tab-row {
    float: none;
    width: auto;
  }

  .tab-conts {
    padding: 25px 70px;
  }

  .final-rowtab .tab-row li {
    border-bottom: 1px solid #d7d7d7;
    float: left;
    width: 50%;
    padding-top: 10px;
    line-height: 1.4;
    height: 55px;
    position: relative;
  }

  .final-rowtab .tab-row li:after {
    bottom: -60px;
    right: 0;
    left: 0;
    transform:rotate(90deg);
  }

  .tab-row li.tab-row-current {

  }

  .tab-row li.tab-row-current span {
    color: #FFF;
  }

}

@media only screen and (max-width : 600px) {
  .final-rowtab .tab-row {
  }

  .final-rowtab .tab-row li {
  }

  .final-head .final-head-img {
    float: none;
    margin-right: 0;
    width: 100%;
  }

  .final-head .final-head-info {
    padding: 20px;
  }

  .nav-tabs {
    border-bottom: 1px solid #0671B7;
  }

  .nav-tabs>li {
    width: 24%;
  }

  .nav-tabs>li>a span {
    display: none;
  }

  .nav-tabs>li>a {
    font-size: 12px;
    border-bottom: transparent;
    padding: 16px 0 12px 0;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #0671B7;
    border-bottom: transparent;
  }
  .nav-tabs>li {
    margin-bottom: 1px;
  }
  .nav-tabs>li.active {
    bottom: -2px;
  }

  .tab-content {
    padding: 20px;
  }

  .slide-images-wrapper .swiper-button-next,
  .slide-images-wrapper .swiper-button-prev {
    transform: scale(.5);
  }

  .tab-conts {
    padding: 25px 40px;
  }

  .slide-images-wrapper .swiper-button-next {
    right: -10px;
  }

  .slide-images-wrapper .swiper-button-prev {
    left: -10px;
  }
}




