.onetable tr td {
  position: relative;
  padding-bottom: 25px !important;
}

.table>tbody>tr>td:before {
  display: block;
  float: left;
  height: 120px; /* この値は適宜書き換える */
  content: "";
}

.onetable .onetable-date {
  display: block;
  margin-bottom: 15px;
}

.onetable .onetable-img {
  float: left;
  margin-right: 20px;
}

.onetable .onetable-info {
  overflow: hidden;
  margin-bottom: 15px;
}

.onetable .onetable-info .onetable-info-title {
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 5px;
}

.onetable .onetable-text {
  clear: both;
  padding-right: 220px;
  margin-bottom: 5px;
}

.onetalbe-funcs {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.icon-star {
  max-width: 100px;
  margin: 5px 0;
  display: block;
}

@media only screen and (max-width : 767px) {
  .onetalbe-funcs {
    position: static;
    text-align: right;
  }

  .onetable .onetable-text {
    padding-right: 0;
  }
}