.localnavs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #D7D7D7;
  padding-right: 15px;
  height: 90px;
  margin-bottom: 60px;
  position: relative;
}

.localnavs .localnavs-title {
  padding: 15px;
  background-color: #0671B7;
  position: relative;
  height: 90px;
  z-index: 1;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-right: 30px;
  width: 180px;
}

.localnavs:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 12px;
  border-color: transparent transparent transparent #0671B7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 178px;
  margin: auto;
}

.localnavs .localnavs-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.localnavs .localnavs-list li a {
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding: 5px 20px;
  text-align: center;
}

.localnavs .localnavs-list li.localnavs-list-current a {
  background-color: #0671b7;
  color: #fff;
  border-radius: 18px;
}

.localnavs .localnavs-text {
  margin-left: auto;
}

/* =======================================

======================================== */
.colnavs {
  margin-top: 40px;
  padding-bottom: 15px;
  float: left;
}

.colnavs li {
  float: left;
  width: 126px;
  margin-right: 10px;
  border: 1px solid #D7D7D7;
  margin-bottom: 10px;
}

.colnavs li a {
  display: block;
  text-align: center;
  font-size: 13px;
  padding: 7px 0;
  border: 2px solid #fff;
}

.colnavs li.colnavs-current {
  border: 1px solid #0671B7;
}

.colnavs li.colnavs-current a {
  border: 2px solid #0671B7;
}

.selyear {
  margin-top: 40px;
  float: right;
}

.selyear .selyear-btn {
  display: block;
  font-size: 14px;
  width: 90px;
  border: 1px solid #D7D7D7;
  text-align: center;
  border-radius: 0;
}

.selyear .selyear-btn:after {
  content: "\00E313";
  font-family: 'Material Icons';
  position: relative;
  color: #D7D7D7;
  right: -5px;
}

.table {
}

.table>thead>tr>th,
.table>tbody>tr>td,
.table>tbody>tr>th {
  text-align: center;
  vertical-align: middle;
}

.table th.col-a {
  width: 170px;
}

.table th.col-c {
  width: 170px;
}

.table th.col-d {
  width: 140px;
}

.ta-center {
  text-align: center;
}

.table td.ta-left {
  text-align: left;
}

.va-middle {
  vertical-align: middle;
}

.table-meta-note {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #D7D7D7;
  margin-right: 2px;
  margin-left: 2px;
  min-width: 72px;
}

.table-meta-on {
  display: inline-block;
  background-color: #0671b7;
  padding: 5px 10px;
  min-width: 72px;
  color: #FFF;
  margin-right: 0 !important;
}

.table-meta-none {
  margin-right: 0 !important;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #D7D7D7;
  min-width: 72px;
  background-color: #f6f6f6;
}

.table-img {
  vertical-align: middle;
  margin-right: 20px;
  display: inline-block;
}

.table-img-p {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}

.table-img-p-long {
  padding-top: 25px;
  clear: both;
}

/* =======================================
  paging
======================================== */
.paging {
  clear: both;
  text-align: center;
  padding-bottom: 80px;
}

.paging li {
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
}

.paging li a {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid #D7D7D7;
  line-height: 27px;
}

.paging li.paging-current a {
  background-color: #0671b7;
  border: 1px solid #0671B7;
  color: #fff;
}

.paging li:last-child:before {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(255,255,255,.2);
  width: 1px;
  left: 0;
  top: 5px;
  bottom: 5px;
}

.paging li:first-child span:before {
  content: "\00E5CB"; font-family: 'Material Icons';
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  font-size: 12px;
  margin-right: 3px;
}

.paging li:last-child span:after {
  content: "\00E5CC"; font-family: 'Material Icons';
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  font-size: 12px;
  margin-left: 3px;
}


/* =======================================
  add
======================================== */
.dot {
  border-bottom:1px dashed #D5D5D5;
  font-size:14px;
  font-weight:bold;
  margin-bottom:5px;
  padding-bottom:5px;
}

@media only screen and (max-width : 1210px) {
  .localnavs {
    display: block;
    height: auto;
    overflow: hidden;
  }

  .localnavs .localnavs-title {
    width: 160px;
    font-size: 21px;
    float: left;
    height: 111px;
  }

  .localnavs .localnavs-list {
    overflow: hidden;
    padding-top: 15px;
    max-width: 800px;
  }

  .localnavs .localnavs-list li {
    float: left;
    width: 20%;
  }

  .localnavs .localnavs-list li a {
    font-size: 13px;
    padding-right: 0;
    padding-left: 0;
    width: 120px;
  }


  .localnavs .localnavs-text {
    display: block;
    float: none;
    margin-top: 20px;
    margin-left: 190px;
    margin-bottom: 0px;
  }

  .colnavs {
    float: left;
    width: 74%;
  }

  .localnavs:before {
    left: 156px;
  }
}

@media only screen and (max-width : 767px) {
  .localnavs {
    display: block;
    height: auto;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .localnavs .localnavs-list {
    display: block;
    width: auto;
    float: none;
    margin-right: 15px;
    margin-left: 15px;
    overflow: hidden;
    padding-bottom: 15px;
  }

  .localnavs .localnavs-title:before {
    content: "";
    display: none;
  }

  .localnavs .localnavs-title {
    font-size: 14px;
    float: none;
    width: auto;
    margin-right: 0;
    height: auto;
    position: static;
    margin-bottom: 15px;
  }

  .localnavs .localnavs-list li {
    float: left;
    width: 50%;
  }

  .localnavs .localnavs-list li a {
    font-size: 12px;
  }


  .localnavs .localnavs-text {
    display: block;
    float: none;
    clear: both;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .colnavs {
    float: left;
    width: 74%;
  }
  .localnavs:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0  10px ;
    border-color: #0671B7 transparent  transparent  transparent ;
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .localnavs .localnavs-text {
    margin-top: 0;
  }

  .onetalbe-funcs {
  padding-bottom: 5px;
  }
}

@media only screen and (max-width : 400px) {
  .colnavs {
    float: none;
    width: auto;
  }

  .colnavs li {
    width: 49.0%;
    margin-right: 0;
  }

  .colnavs li:nth-child(2n) {
    float: right;
  }

  .selyear {
    margin-bottom: 20px;
  }
}