.table th.col-b,
.table th.col-c,
.table th.col-d {
  width: 12%;
}

.table>thead>tr>th.text-left,
.table>tbody>tr>td.text-left,
.table>tbody>tr>th.text-left,
.text-left {
  text-align: left;
}

.valign-top td,
th.valign-top  {
  vertical-align: top !important;
}

.cel-a {
  width: 180px;
}

.table>tbody>tr>td[class*="table-price-cel-"] {
  text-align: right;
}

.pos-rel {
  position: relative;
}

.table-price .table-price-text {

}

.pos-center {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  margin: auto;
  height: 20px;
}

.table-price .table-price-num {
  font-family: arial;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-right: 8px;
}

.table-price .table-price-cel-a,
.table-price .table-price-cel-b {
  width: 27%;
}

.table-price .table-price-text-detail {
  padding-left: 15%;
  text-align: left;
}

.stars i {
  font-size: 20px;
  margin: 0;
  width: 16px;
  color: #fcae13;
}

.stars i.stars-off {
  color: #DDD;
}

.table.text-left th,
.table.text-left td {
  text-align: left;
}

.wid-b {
  max-width: 320px;
}

.wid-a {
  max-width: 620px;
}

.form-control.textarea {
  height: 6em;
}




/* =======================================
  料金部分
======================================== */
.pricebox.pricebox-one,
.pricebox.pricebox-two {
  width: 30%;
}

.pricebox.pricebox-all {
  width: 40%;
  border-right: 1px solid #ddd;
}

.pricebox {
  float: left;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.pricebox .pricebox-head {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 30px 25px;
  align-items: center;
}

.pricebox .pricebox-head .pricebox-head-num {
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-right: 8px;
}

.pricebox .pricebox-head .pricebox-head-num b {
  font-size: 13px;
  color: #333;
}

.pricebox .pricebox-more {
  padding: 30px 20px;
}

.pricebox .pricebox-more p {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.pricebox.pricebox-all .pricebox-more p {
  display: block;
}

.pricebox.pricebox-one .pricebox-head,
.pricebox.pricebox-two .pricebox-head {
  position: relative;
}

.pricebox.pricebox-one .pricebox-head:after {
  content: "+";
  width: 24px;
  height: 24px;
  line-height: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 38px;
  right: -13px;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  color: #D7D7D7;
  position: absolute;
}

.pricebox.pricebox-two .pricebox-head:after {
  content: "=";
  width: 24px;
  height: 24px;
  line-height: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 38px;
  right: -13px;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  color: #D7D7D7;
  position: absolute;
}

.pricebox.pricebox-btm {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: flex-start;
  padding: 30px 25px;
  align-items: center;
  width: 100%;
}

.pricebox.pricebox-btm p {
  margin-left: 9%;
}

@media only screen and (max-width : 900px) {
  /* =======================================
    料金部分
  ======================================== */
  .pricebox.pricebox-one,
  .pricebox.pricebox-two {
    width: 100%;
    border-right: 1px solid #d7d7d7;
  }

  .pricebox.pricebox-two {
    border-right: 1px solid #d7d7d7;
  }

  .pricebox.pricebox-all {
    width: 100%;
  }


  .pricebox.pricebox-one .pricebox-head:after {
    bottom: -40px;
    right: 0;
    left: 0;
    margin: auto;
  }

  .pricebox.pricebox-two .pricebox-head:after {
    bottom: -40px;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(-90deg);
  }

  .pricebox .pricebox-head {
    padding: 20px;
  }

}

@media only screen and (max-width : 600px) {
  .volume {
    font-size: 11px;
  }

  .table {
    margin-bottom: 0;
  }

  .pricebox.pricebox-btm b {
    width: 90px;
  }
}












