.localnavs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #D7D7D7;
  padding-right: 15px;
  height: 90px;
  margin-bottom: 60px;
  position: relative;
}

.localnavs .localnavs-title {
  padding: 15px;
  background-color: #0671B7;
  position: relative;
  height: 90px;
  z-index: 1;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-right: 30px;
  width: 180px;
}

.localnavs:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 12px;
  border-color: transparent transparent transparent #0671B7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 178px;
  margin: auto;
}

.localnavs .localnavs-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.localnavs .localnavs-list li a {
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding: 5px 20px;
  text-align: center;
}

.localnavs .localnavs-list li.localnavs-list-current a {
  background-color: #0671b7;
  color: #fff;
  border-radius: 18px;
}

.localnavs .localnavs-text {
  margin-left: auto;
}

/* =======================================

======================================== */
.colnavs {
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 15px;
}

.colnavs li {
  float: left;
  width: 125px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.colnavs li:last-child {
  margin-right: 0;
}

.colnavs li a {
  display: block;
  text-align: center;
  font-size: 13px;
  padding: 7px 0;
  border: 1px solid #D7D7D7;
}

.colnavs li.colnavs-current a {
  border: 1px solid #0671B7;
  box-shadow: 2px 2px 0 #0671B7 inset,
  -2px -2px 0 #0671B7 inset;
}


/* =======================================
  notice
======================================== */

.table-notice .cel-a {
  width: 30px;
}



.table-notice tr.slide-parent:hover td {
  background-color: #F9F9F9 !important;
  cursor: pointer;
}

.table-notice tr.slide-child {
  display: none;
}

.table-notice-bg {
  background-color: #f9f9f9;
}

/* =======================================
  faq
======================================== */

.table-bordered>tbody>tr>td.bdr-none {
  border: none;
}

.table-bordered>tbody>tr.bdr-none-td >td {
  border: none;
}

.table-bordered>tbody>tr.bdr-none-td {
  border-top: 1px solid #ddd ;

}

.table-faq .cel-a {
  width: 12%;
}

.table-faq .cel-b {
  width: 17%;
}


/* =======================================

======================================== */
.table-onebyone .cel-a {
  width: 10%;
}

.table-onebyone .cel-b {

}

.table-onebyone .cel-c {
  width: 20%;
}

.table-onebyone .cel-d {
  width: 10%;
}

.table-onebyone .cel-e {
  width: 10%;
}

.table-onebyone tr.slide-parent {

}

tr.slide-parent:hover td {
  background-color: #F9F9F9 !important;
  cursor: pointer;
}

tr.slide-child {
  display: none;
}

.qa {
  padding: 25px 200px 25px 70px;
}

.qa dt {
  margin-bottom: 35px;
}

.qa dt:before {
  content: "Q";
  position: relative;
  left: -35px;
}

.qa dd {
  color: #0272ba;
  line-height: 2;
}

.qa dd:before {
  content: "A";
  position: relative;
  left: -35px;
}

.funcs {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.funcs li {
  display: inline-block;
  margin: 0 3px;
}

/* =======================================
  freeword
======================================== */
.freeword {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.freeword .freeword-label {
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.freeword .form-control.freeword-input {
  border: 4px solid #0671b7;
  font-size: 18px;
  padding: 0 10px;
  height: 70px;
  width: 720px;
}

.freeword .freeword-btn {
  background-color: #0671b7;
  display: flex;
  align-items: center;
  color: #fff;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
}


/* =======================================

======================================== */
@media only screen and (max-width : 1210px) {
  .localnavs {
    display: block;
    height: auto;
    overflow: hidden;
  }

  .localnavs .localnavs-title {
    width: 160px;
    font-size: 21px;
    float: left;
    height: 111px;
  }

  .localnavs .localnavs-list {
    overflow: hidden;
    padding-top: 15px;
    max-width: 800px;
  }

  .localnavs .localnavs-list li {
    float: left;
    width: 25%;
  }

  .localnavs .localnavs-list li a {
    font-size: 13px;
    padding-right: 0;
    padding-left: 0;
    width: 120px;
  }

  .localnavs .localnavs-text {
    display: block;
    float: none;
    margin-top: 20px;
    margin-left: 190px;
    margin-bottom: 0px;
  }

  .colnavs li {
    width: 18.6%;
  }

  .colnavs li:nth-child(5) {
    margin-right: 0;
  }

  .localnavs:before {
    left: 156px;
  }
}

@media only screen and (max-width : 1023px) {
  .freeword {
    overflow: hidden;
  }

  .freeword .form-control.freeword-input {
    flex: 1;
  }

  .freeword .form-control.freeword-btn {
  }
}

@media only screen and (max-width : 767px) {
  .localnavs {
    display: block;
    height: auto;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .freeword .freeword-label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
  .localnavs .localnavs-list {
    display: block;
    width: auto;
    float: none;
    margin-right: 15px;
    margin-left: 15px;
    overflow: hidden;
    padding-bottom: 15px;
  }

  .localnavs .localnavs-title:before {
    content: "";
    display: none;
  }

  .localnavs .localnavs-title {
    font-size: 14px;
    float: none;
    width: auto;
    margin-right: 0;
    height: auto;
    position: static;
    margin-bottom: 15px;
  }

  .localnavs .localnavs-list li {
    float: left;
    width: 50%;
  }

  .localnavs .localnavs-list li a {
    font-size: 12px;
  }


  .localnavs .localnavs-text {
    display: block;
    float: none;
    clear: both;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }


  .localnavs:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0  10px ;
    border-color: #0671B7 transparent  transparent  transparent ;
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .colnavs li {
    width: 49.2%;
    margin-right: 0;
  }

  .colnavs li:nth-child(2n) {
    float: right;
  }

 .colnavs li:nth-child(2n) {
    margin-right: 0;
  }

  .colnavs li:nth-child(3n) {
    margin-right: 0;
  }
}


@media only screen and (max-width : 480px) {
  .colnavs li {
    width: 48%;
  }




  .freeword .form-control.freeword-input {
    width: 150px;}
}
