.wid-a {width: 180px;}

.input-pw {width: 250px;}

.table td.main-board {
  padding: 50px 0;
}

.btn-wrapper {
  text-align: center;
  padding-bottom: 100px;
}

.btn-wrapper li {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}