.table th.col-b,
.table th.col-c,
.table th.col-d {
  width: 12%;
}

.table>thead>tr>th.text-left,
.table>tbody>tr>td.text-left,
.table>tbody>tr>th.text-left,
.text-left {
  text-align: left;
}

.valign-top td,
th.valign-top  {
  vertical-align: top !important;
}

.cel-a {
  width: 180px;
}

.table>tbody>tr>td[class*="table-price-cel-"] {
  text-align: right;
}

.pos-rel {
  position: relative;
}

.table-price .table-price-text {

}

.pos-center {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  margin: auto;
  height: 20px;
}

.table-price .table-price-num {
  font-family: arial;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-right: 8px;
}

.table-price .table-price-cel-a,
.table-price .table-price-cel-b {
  width: 27%;
}

.table-price .table-price-text-detail {
  padding-left: 15%;
}

.btn-wrapper {
  text-align: center;
  padding-bottom: 100px;
}

.btn-wrapper li {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.stars i {
  font-size: 20px;
  margin: 0;
  width: 16px;
  color: #fcae13;
}

.stars i.stars-off {
  color: #DDD;
}

.table.text-left th,
.table.text-left td {
  text-align: left;
}

.wid-b {
  max-width: 320px;
}

.wid-a {
  max-width: 620px;
}

.form-control.textarea {
  height: 6em;
}
