.table td.main-board {
    padding: 50px 0;
}

.a_login{
    margin:0 8px;
    padding:20px;
    border:1px solid #0272ba;
    background:#0272ba;
    color:#fff;
    text-decoration:none;
    letter-spacing: 0.1em;
}

.a_top{
    margin:0 8px;
    padding:20px;
    border:1px solid #d7d7d7;
    color:#929292;
    text-decoration:none;
    letter-spacing: 0.1em;
}

.btn-link {
    border:1px solid #d7d7d7;
    background:#0272ba;
    color:#fff;
    font-size: 24px;
    margin: 30px auto;
    padding: 15px 0;
    width: 300px;
    letter-spacing: 0.01em;
}