
.signup {
  max-width: 490px;
  margin-right: auto;
  margin-left: auto;
}

.signup .signup-main .signup-main-btm {
  padding-top: 40px;
}

@media only screen and (max-width : 739px) {
  .signup .signup-main {
    width: auto;
    float: none;
  }
}

@media only screen and (max-width : 490px) {
  .signup {
    margin-right: 15px;
    margin-left: 15px;
  }

    .signup .signup-main .signup-main-btm {
    padding-top: 20px;
  }

  .signup .signup-main .signup-main-btm .signup-main-btm-text {
    margin-bottom: 20px;
  }
}