
.signup .signup-main-body-cap {
  padding-top: 15px;
}

.signup .signup-main-body-title {
  margin-bottom: 25px;
}

.signup .signup-main-body-cap {
  margin-bottom: 15px;
}

@media only screen and (max-width : 600px) {
  .signup-main-btm {
    padding-top: 0;
  }

  .signup-main-btm-text {
    margin-bottom: 20px;
  }
}