
.signup {
  margin: 10px 0 100px 0;
  max-width: 490px;
  margin-right: auto;
  margin-left: auto;
}


@media only screen and (max-width : 739px) {
  .signup .signup-main {
    width: auto;
    float: none;
  }
}

@media only screen and (max-width : 490px) {
  .signup {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
  }
}