.signup {
  width: 730px;
  margin: 100px auto;
  overflow: hidden;
}

.signup .signup-main {
  border: 1px solid #D7D7D7;
  padding: 50px 30px 40px;
  float: left;
  width: 490px;
}

.signup .signup-main .signup-main-img {
  float: left;
  margin-right: 30px;
}

.signup .signup-main .signup-main-body {
  overflow: hidden;
}

.signup .signup-main .signup-main-body .signup-main-body-input {
  margin-bottom: 10px;
  margin-top: 10px;
}

.signup .signup-main .signup-main-btm {
  clear: both;
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 30px;
}

.signup .signup-main .signup-main-btm .signup-main-btm-text {
  font-size: 15px;
  float: left;
  padding-top: 5px;
}

.signup .signup-main .signup-main-text {
  font-size: 11px;
}

.signup .signup-main .signup-main-btm .signup-main-btm-text span {
  font-size: inherit;
}

.sign-up-button {
  float: right;
}


/* =======================================
  右ボックス
======================================== */
.signup .signup-side {
  float: right;
  width: 230px;
  background-color: #0D4B85;
  padding-top: 40px;
}

.signup .signup-side .signup-side-link {
  margin: 0 30px 10px 30px;
  text-align: center;
}

.signup .signup-side .signup-side-link a {
  display: block;
  border-radius: 18px;
  background-color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
}

.signup .signup-side img {
  margin: 30px 0 10px 0;
}

.signup .signup-side .signup-side-btmtext {
  font-size: 16px;
  font-weight: bold;
  color: #d5d5d5;
  text-align: right;
  margin-right: 30px;
}

.signup .signup-side .signup-side-btmtext span {
  color: #fff;
  font-size: 18px;
}


.signup .signup-main-body-title {
  margin-bottom: 20px;
  letter-spacing: -1.5px;
}

.signup .signup-main-body-cap {
  margin-bottom: 15px;
}


@media only screen and (max-width : 1023px) {
  .signup {
    width: auto;
    max-width: 730px;
    margin: 30px auto;
  }

}

@media only screen and (max-width : 739px) {
  .signup {
    margin-right: 15px;
    margin-left: 15px;
  }
  .signup .signup-side {
    width: 33.5%;
  }
  .signup .signup-main{
    width: 65%;
  }
}

@media only screen and (max-width : 640px) {

  .signup .signup-main {
    padding: 15px;
    margin-bottom: 20px;
  }

  .signup .signup-side {
    padding-bottom: 30px;
  }

  .signup .signup-main,
  .signup .signup-side {
    width: 320px;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .signup .signup-main .signup-main-img {
    margin-right: 15px;
    width: 80px;
  }

  .signup .signup-main .signup-main-body {
    overflow: visible;
  }

  .signup-main-body-input {
    clear: both;
  }

  .signup .signup-main-body-title,
  .signup .signup-main-body-subtitle {
    margin-left: 100px;
  }

  .signup .signup-main-body-subtitle {
    margin-bottom: 20px;
    line-height: 1.2;
  }

}